<app-header></app-header>
<app-message-toast></app-message-toast>
<div class="divisor"></div>
<app-carousel></app-carousel>
<div class="divisor"></div>
<div class="contenedor">

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3  mbt2">
            <div class="card noborder">

                <div class="card-body ">
                    <div class="icon-demo mb-4   d-flex align-items-center justify-content-center p-3 py-6"
                        style="font-size: 10em" role="img" aria-label="Credit card - large preview">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="bi bi-credit-card iconcard textsecundario" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z">
                            </path>
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"></path>
                        </svg>
                    </div>

                    <p class="card-text textprimario">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3  mbt2">
            <div class="card noborder">

                <div class="card-body ">
                    <div class="icon-demo mb-4   d-flex align-items-center justify-content-center p-3 py-6"
                        style="font-size: 10em" role="img" aria-label="Credit card - large preview">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="bi bi-credit-card iconcard textsecundario" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z">
                            </path>
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"></path>
                        </svg>
                    </div>

                    <p class="card-text textprimario">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3  mbt2">
            <div class="card noborder">

                <div class="card-body ">
                    <div class="icon-demo mb-4   d-flex align-items-center justify-content-center p-3 py-6"
                        style="font-size: 10em" role="img" aria-label="Credit card - large preview">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="bi bi-credit-card iconcard textsecundario" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z">
                            </path>
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"></path>
                        </svg>
                    </div>

                    <p class="card-text textprimario">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3  mbt2">
            <div class="card noborder">

                <div class="card-body ">
                    <div class="icon-demo mb-4   d-flex align-items-center justify-content-center p-3 py-6"
                        style="font-size: 10em" role="img" aria-label="Credit card - large preview">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="bi bi-credit-card iconcard textsecundario" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z">
                            </path>
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"></path>
                        </svg>
                    </div>

                    <p class="card-text textprimario">This is a longer card with supporting text below as a natural
                        lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="divisor"></div>