.header {
    background-color: var(--base);
    padding: 2rem 0;
}

.headerHome {
    background-image: linear-gradient(rgb(0 0 0/ .7), rgb(255 96 0/ .7)), url(../../../assets/img/comida1.jpeg);
    background-color: var(--base);
    padding: 2rem;
    height: auto;
    min-height: 70rem;
}

@media(min-width: 768px) {
    .headerHome {

        height: 100vh;
        max-height: 90rem;
    }
}

.barra-navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .barra-navegacion {
        flex-direction: row;
        justify-content: space-between;
    }

    /* li {
        padding: 1rem;
    } */
}

/* 
    .menu-principal {
        display: none;
    } */

@media(min-width: 768px) {
    .menu-principal {
        display: block;
    }

    .menu-principal ul {
        display: flex;
    }
}

.menu-principal a {
    font-family: var(--principalFont);
    display: block;
    text-align: center;
    color: var(--secundario);
    font-size: 2.2rem;
    padding: .5rem 2rem;
}


.selected {

    border-bottom: 3px solid var(--primario);
    font-weight: 700;
}

.unselected {

    color: var(--primario);
    font-weight: 400;
}

@media (min-width:768px) {
    .menu-principal a {
        position: relative;
        z-index: 1;
    }

    .menu-principal a::before,
    .menu-principal a::after {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: var(--blanco);

        z-index: -1;
        transform: scaleX(0);
        transition: transform .6s;
    }

    .menu-principal a::before {

        top: 0;
        transform-origin: left;
    }

    .menu-principal a::after {
        color: var(--blanco);
        top: 50%;
        transform-origin: right;
    }

    .menu-principal a:hover::before {
        transform: scaleX(1);
    }

    .menu-principal a:hover::after {
        transform: scaleX(1);
    }
}

.logo {
    width: 150px;
}

.burger-menu:hover {
    cursor: pointer;
}

.menu-principal {
    opacity: 0;
    max-height: 0;
    transition-delay: 100ms, 300ms;
    transition-property: opacity, max-height;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

@media (min-width:768px) {
    .menu-principal {
        all: unset
    }

    .burger-menu {
        display: none;
    }

}

.mostrar {
    opacity: 1;
    max-height: 35rem;
    transition-delay: 100ms, 300ms;
    transition-property: max-height, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}