<app-header></app-header>
<div class="divisor"></div>
<div class="contenedor">

    <form action="">

        <div class="row">
            <div class="col-12  col-md-4  mbt2 textcenter">
                <div class=" mb-3">
                    <label>Fecha de su evento</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-12  col-md-4  mbt2 textcenter">
                <div class="">
                    <label for="floatingPassword">Número de invitados</label>
                    <input type="number" class="form-control" min="0" step="50" placeholder="Número de invitados">
                </div>
            </div>
            <div class="col-12  col-md-4  mbt2 textcenter">
                <div class="">
                    <label for="floatingSelect">Tipo de evento</label>
                    <select class="form-control">
                        <option selected>Selecciona una opción/option>
                        <option value="1">Fiesta</option>
                        <option value="2">Peda</option>
                        <option value="3">Divorcio</option>
                    </select>
                </div>
            </div>



        </div>
    </form>


</div>


<div class="divisor"></div>

<div class="w100">
    <app-slider-promo></app-slider-promo>
</div>