<section id="slider">
    <div class="container">
        <div class="subcontainer">
            <div class="slider-wrapper">
                <div>
                    <h2>titulo1</h2>
                </div>
                <br>
                <div class="my-slider">
                    <div>
                        <div class="slide">
                            <div class="slide-img img-1">
                                <a
                                    href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbFRlal9mbVZUeDdydVZRUlBJSFZzM0tVb0IxUXxBQ3Jtc0trR2loZVFROFFuU2FOdE5rRnhEbkZOUjBqRDlvbXcxV1JrOUw2MG5udThaYkpKNXV1aFhtUkUxcGlnNVJkdXZUQTloMkk0alVzaTNtOUt5QjBmMDQ2M3RwRlJiU2F3T3dGYTlNSmdYTlFJOWJVMlgwdw&q=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F2521619%2Fpexels-photo-2521619.jpeg%3Fcs%3Dsrgb%26dl%3Dpexels-troy-squillaci-2521619.jpg%26fm%3Djpg&v=cmlkB3oaKOQ">Learn
                                    More</a>
                            </div>
                            <div>
                                <h3>Hawai</h3>
                                <p>maqwi</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slide">
                            <div class="slide-img img-2">
                                <a
                                    href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbFRlal9mbVZUeDdydVZRUlBJSFZzM0tVb0IxUXxBQ3Jtc0trR2loZVFROFFuU2FOdE5rRnhEbkZOUjBqRDlvbXcxV1JrOUw2MG5udThaYkpKNXV1aFhtUkUxcGlnNVJkdXZUQTloMkk0alVzaTNtOUt5QjBmMDQ2M3RwRlJiU2F3T3dGYTlNSmdYTlFJOWJVMlgwdw&q=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F2521619%2Fpexels-photo-2521619.jpeg%3Fcs%3Dsrgb%26dl%3Dpexels-troy-squillaci-2521619.jpg%26fm%3Djpg&v=cmlkB3oaKOQ">Learn
                                    More</a>
                            </div>
                            <div>
                                <h3>Hawai</h3>
                                <p>maqwi</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slide">
                            <div class="slide-img img-3">
                                <a
                                    href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbFRlal9mbVZUeDdydVZRUlBJSFZzM0tVb0IxUXxBQ3Jtc0trR2loZVFROFFuU2FOdE5rRnhEbkZOUjBqRDlvbXcxV1JrOUw2MG5udThaYkpKNXV1aFhtUkUxcGlnNVJkdXZUQTloMkk0alVzaTNtOUt5QjBmMDQ2M3RwRlJiU2F3T3dGYTlNSmdYTlFJOWJVMlgwdw&q=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F2521619%2Fpexels-photo-2521619.jpeg%3Fcs%3Dsrgb%26dl%3Dpexels-troy-squillaci-2521619.jpg%26fm%3Djpg&v=cmlkB3oaKOQ">Learn
                                    More</a>
                            </div>
                            <div>
                                <h3>Hawai</h3>
                                <p>maqwi</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slide">
                            <div class="slide-img img-4">
                                <a
                                    href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbFRlal9mbVZUeDdydVZRUlBJSFZzM0tVb0IxUXxBQ3Jtc0trR2loZVFROFFuU2FOdE5rRnhEbkZOUjBqRDlvbXcxV1JrOUw2MG5udThaYkpKNXV1aFhtUkUxcGlnNVJkdXZUQTloMkk0alVzaTNtOUt5QjBmMDQ2M3RwRlJiU2F3T3dGYTlNSmdYTlFJOWJVMlgwdw&q=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F2521619%2Fpexels-photo-2521619.jpeg%3Fcs%3Dsrgb%26dl%3Dpexels-troy-squillaci-2521619.jpg%26fm%3Djpg&v=cmlkB3oaKOQ">Learn
                                    More</a>
                            </div>
                            <div>
                                <h3>Hawai</h3>
                                <p>maqwi</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>