/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,700&family=Staatliches&display=swap');

:root {
    --principalFont: 'Raleway', sans-serif;
    --headingFont: 'Staatliches', cursive;
    --primario: #454545;
    --secundario: #FF6000;
    --terceario: #FFA559;
    --base: #FFE6C7;
    --blanco: #fff;
    --negro: #000;
    --grisOscuro: #2f2e2e;
    --grisClaro: #ebebeb;
    --tablet: 768px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--principalFont);
    font-size: 1.8rem;
    line-height: 2;
}

.w100 {
    width: 100%;
    display: inline;
    overflow: hidden;
}

/* Heading */
h1,
h2,
h3,
h4 {
    font-family: var(--headingFont);
    margin: 0 0 5rem 0;
    line-height: 12;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 2.4rem;
}

/* Globales */

p {
    margin: 0
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.contenedor {
    width: min(95%, 120rem);
    margin: 0 auto;
}

/* utilidades */
.textcenter {
    text-align: center;
}

.textprimario {
    color: var(--primario)
}

.textsecundario {
    color: var(--secundario)
}

.textterceario {
    color: var(--terceario)
}

.textbase {
    color: var(--base)
}

.textblanco {
    color: var(--blanco)
}

.textnegro {
    color: var(--negro)
}

.textgrisoscuro {
    color: var(--grisOscuro)
}

.textgrisclaro {
    color: var(--grisClaro)
}

.seccion {
    padding: 5rem 0;
}

.divisor {
    height: 5rem;
}

.mbt2 {
    margin-bottom: 2rem;
}

.iconcard {
    width: 5rem;
    height: 5rem;
}

.noborder {
    border: none
}

.point {
    cursor: pointer;
}

.form-control {
    padding: 1.375rem 0.75rem;
    font-size: 1.3rem;
}



aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    margin-right: 5%;
}